@charset "UTF-8";


/* MOBILE FIRST */

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

header {
    background-color: rgb(14, 77, 165);
}

header > h1 {
    padding: 10px;
    text-align: center;
    color: white;
}

#burger {
    background-color: rgb(0, 0, 75);
    color: white;
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

#burger:hover {
    background-color: white;
    color: rgb(0, 0, 117);
}

menu {
    display: none;
}

menu > ul {
    list-style-type: none;
}

menu > ul > li > a {
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: rgb(36, 178, 255);
    color: rgb(255, 255, 255);
    border-top: 2px solid rgba(0, 0, 0, 0.237);
}

menu > ul > li > a:hover {
    background-color: rgb(0, 145, 255);
}

main {
    width: 90%vw;
    background-color:rgb(255, 255, 255);
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;

}

main > article > h2 {
    padding-bottom: 20px;
}

main > article > p {
    margin-bottom: 20px;
    text-align: justify;
    text-indent: 20px;
}